.tooltip {
  position: absolute;
  z-index: 500;
  background: #F5F5F5;
  box-shadow: 0 0 0 2px rgb(222, 225, 226), 0 0 0 6px #9c5d41;
  padding: .5rem;
  color: #9c5d41;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
  max-width: 170px;
  border-radius: 2px;
  top: 0px;
  left: 0px;
}